
@font-face {
	font-family: 'Akrobat';
	src: url('Akrobat.eot?#iefix') format('embedded-opentype'),
		 url('Akrobat.woff') format('woff'),
		 url('Akrobat.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
